<footer class="footer">
  <div class="back-to-top">
    <a href="#">Voltar ao início</a>
  </div>

  <div class="footer-content">
    <div class="footer-section">
      <h4>Conheça-nos</h4>
      <p>Sobre nós</p>
      <p>Informações Corporativas</p>

      <div class="footer-images">
        <a routerLink="/facebook" routerLinkActive="active-link"><img src="/footer/facebook.png" alt="Link 1" /></a>
        <a routerLink="/linkdin" routerLinkActive="active-link"><img src="/footer/linkdin.png" alt="Link 2" /></a>
        <a routerLink="/youtube" routerLinkActive="active-link"><img src="/footer/youtube.png" alt="Link 3" /></a>
        <a routerLink="/instagram" routerLinkActive="active-link"><img src="/footer/instagram.png" alt="Link 4" /></a>
      </div>
    </div>

    <div class="footer-section">
      <h4>Endereço e contato</h4>
      <p>Rua Existente, s/n</p>
      <p>Cidade, UF, CEP</p>
      <p>Tel: (00) 0000 0000</p>
      <p>infocompraexpress&#64;email.com</p>
    </div>

    <div class="footer-section">
      <h4>Informações adicionais</h4>
      <p>Meios de pagamento</p>
      <p>Política de privacidade</p>
      <p>Termos de Uso</p>
    </div>

    <div class="footer-section">
      <h4>Contate-nos</h4>
      <p>Prazo de entrega</p>
      <p>Devoluções e reembolsos</p>
      <p>Alertas de produtos</p>
      <p>Ajuda</p>
    </div>
  </div>

  <div class="footer-bottom">
    <img src="/footer/logo4.png" class="logo-footer" />
    <p class="text_footer-bottom">© 2025 Compras Express. Todos os direitos reservados.</p>
  </div>
</footer>
