.footer {
  background-color: #15202A;
  color: #ccc;
  font-family: Arial, sans-serif;
}

.back-to-top {
  background-color: #5bb0f7;
  text-align: center;
  padding: 10px;
}

.back-to-top a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  flex-wrap: wrap;
}

.footer-section {
  min-width: 200px;
  margin-bottom: 10px;
}

.footer-section h4 {
  color: white;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}

.footer-images {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.footer-images a {
  flex: 1;
}

.footer-images img {
  width: 25px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 10px 20px;
  border-top: 1px solid #333;
  width: 100%;
  box-sizing: border-box; 
}

.logo-footer {
  width: 100px;
  margin-right: 20px;
}

.text_footer-bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #ccc;
}


