<main class="main">
    <header class="top-bar">
      <div class="content top-bar-inner">
        <!-- Logo -->
        <div class="top-left">
          <a routerLink="/home" routerLinkActive="active-link">
            <img src="/header/logo2.png" alt="Logo" class="logo" />
          </a>  
          
        </div>
  
        <!-- Barra de pesquisa -->
        <div class="search-bar">
          <input type="text" placeholder="Buscar produtos..." />
          <button><img src="/header/pesquisa.png" class="procurar" /></button>
        </div>
  
        <!-- Links à direita -->
        <div class="top-right">
          <a routerLink="/cadastro" routerLinkActive="active-link" class="link">Crie sua conta</a>
          <a routerLink="/login" routerLinkActive="active-link" class="link">Entre</a>
          <a href="#" class="link">Compras</a>
          <a href="#" class="cart-link">
            <img src="/header/carrinho.png" class="carrinho" />
          </a>
        </div>
      </div>
  
      <!-- Menu de categorias -->
      <nav class="tools-menu">
        <a class="nav-link" href="#">Todos</a>
        <a class="nav-link" href="#">Mais vendidos</a>
        <a class="nav-link" href="#">Ofertas</a>
        <a class="nav-link" href="#">Novidades</a>
        <a class="nav-link" href="#">Agro</a>
        <a class="nav-link" href="#">Autos</a>
        <a class="nav-link" href="#">Beleza</a>
        <a class="nav-link" href="#">Casa</a>
        <a class="nav-link" href="#">Celulares</a>
        <a class="nav-link" href="#">Eletrônicos</a>
        <a class="nav-link" href="#">Esporte</a>
        <a class="nav-link" href="#">Infantil</a>
        <a class="nav-link" href="#">Livros</a>
        <a class="nav-link" href="#">Moda</a>
        <a class="nav-link" href="#">Presentes</a>
      </nav>
    </header>
  </main>
  
