* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

main {
  background-color: #FF914D;
  padding: 0;
}

.content {
  margin: 0 auto;
  padding: 0 2%;
}

.top-bar {
  background-color: #15202A;
  color: #ffffff;
  padding: 10px 0;
}

.top-bar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 2%;
  flex-wrap: nowrap;
}

.top-left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.logo {
  height: 60px;
  pointer-events: none;
}

.brand-name {
  font-size: 20px;
  font-weight: bold;
}

.search-bar-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  width: 810px;
  max-width: 100%;
  margin-left: 100px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
  flex-grow: 1;
  border-radius: 20px;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-bar .procurar {
  height: 18px;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
}

.link {
  color: #FF914D;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}

.link:hover {
  text-decoration: underline;
}

.carrinho {
  height: 35px;
}

.tools-menu {
  background-color: #0C232C;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 2%;
  overflow-x: auto;
  border-top: 1px solid #ffffff20;
}

.nav-link {
  color: #ffffff;
  margin-right: 15px;
  font-size: 13px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.nav-link:hover {
  text-decoration: underline;
}
